html, body {
  font-size: 14px;
  height: 100%;
  background-color: #f6f6f6;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 92%;
}
.content-left {
  width: 420px;
  height: 661px;
  background-color: #999;
  display: flex;
  flex-direction: row;
}

.content-headers {
  width: 67px;
  height: 100%;
  background-image: linear-gradient(#0cb3ff, #0068ff);
  display: flex;
  flex-direction: column;
}

.content-avatar {
  width: 45px;
  height: 45px;
  padding-left: 11px;
  background-image: url("//s120-ava-talk.zadn.vn/8/f/3/5/6/120/499c8cfa904f6c89e44aed82aab25b06.jpg");
  border-radius: 100%;
}

.content-between {
  width: 357px;
  height: 100%;
}

.content-right {
  width: 80%;
  height: auto;
}

.container-right {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container-right::after {
  content: "";
  clear: both;
  display: table;
}

.container-right img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-right img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}